@charset "UTF-8";

@import url(style-iconos.css);
@import url(style-principal.css);
@import url(style-fonts.css);

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1;
    margin-bottom: 20px;
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
}

.banner__titulo{
    margin-top: 90px;
    font-size: 20px;
    color: #fff;
}

.banner__txt {
    color: #fff;
    background: rgba(3,3,3,0.5);
}

.info__columna {
    background: #0eb6cb;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
}

.info__titulo {
    text-align: center;
}

.logros__img {
    position: relative;
    z-index: -1;
}

.acordeon__item {
    border-radius: 22px;
    background-color: #e7e7e7;
    color: #878786;
    margin-bottom: 7px;
}

.acrd__item__nombre {
    padding: 12px 21px;
    position: relative;
    border-radius: 22px;
    cursor: pointer;
}

.acrd__item__submenu {
    list-style: none;
    padding: 7px 20px;
    display: none;
    margin: 0;
    line-height: 26px;
    padding: 0;
}

.pre__activo+.acrd__item__submenu {
    display: block;
    height: initial;
    opacity: 1;
    padding: 7px 20px;
    -webkit-transition: opacity 1s ease-out 0s;
    -moz-transition: opacity 1s ease-out 0s;
    -o-transition: opacity 1s ease-out 0s;
    transition: opacity 1s ease-out 0s;
}

.acrd__item__nombre:after {
    content: '';
    position: absolute;
    right: 21px;
    top: 16px;
    border: 8px solid transparent;
    border-top: 12px solid #00546c;
}

.acrd__item__nombre.pre__activo:after {
    content: '';
    position: absolute;
    right: 21px;
    top: 9px;
    border: 8px solid transparent;
    border-bottom: 12px solid white;
}

.acordeon__item:nth-child(2n+1) .acrd__item__nombre {
    color: white;
    background: #0eb6cb;
}

.acordeon__item:nth-child(2n+1) .acrd__item__nombre.pre__activo, .acrd__item__nombre.pre__activo {
    color: white;
    background: #461c6b;
}

.pre__titulo {
    margin: 0;
    width: 95%;
}

@media(min-width:480px) {
    .submenu {
        margin-top: 40px;
    }
    
    .info {
        width: 90%;
        margin: 30px auto 50px auto;
    }

    .banner__titulo {
        font-size: 30px;
    }
    
    .banner__txt {
        font-size: 25px;
    }
}

@media(min-width:768px) {
    .banner {
        display: none;
    }
    
    .header {
        background: #178;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .info {
        width: 75%;
        margin: 30px auto 50px auto;
    }
}

@media(min-width:1024px) {
    .header {
        height: 80px;
    }
    
    .info {
        width: 800px;
        margin: 30px auto 50px auto;
    }
}

@media(min-width:1280px){    
    .contenedor {
        width: 1200px;
    }
    
    .header {
        height: 100px;
    }
    
    .submenu {
        margin-top: 100px;
    }
}